:host {
  // height: 100%;
  // width: 160px;
  background-color: lightgrey;
  overflow-x: hidden;
  padding: 20px 10px;

  a {
    padding: 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
}
