/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #090909;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 18px;
  background-color: #f4faff;
}
